.App {
    max-width: 100%;
    left: 0;
    right: 0;
    top: 0;
}

body {
    margin: 0;
    background-color: #333333;
}

.layout {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: min-content;
    height: min-content;
    row-gap: 20px;
    column-gap: 30px;
    justify-content: center;
    margin: 50px auto;
}